@mixin base-layout {
  width: 100%;
  display: grid;
  padding-top: 7rem;
  grid-template-columns: 35rem 25vw;
  grid-template-rows: 15rem auto;
  row-gap: 1rem;
  column-gap: 15vw;
}

@mixin base-layout-narrow {
  @include base-layout;
  grid-template-columns: 70vw auto;
  grid-template-rows: 8rem auto;
}
