body {
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "onum";
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #700;

  &:hover {
    text-decoration: none;
    color: #700;
    border-bottom: 3px solid #700;
  }
}

h1, h2, h3, h4 {
  font-family: source-serif-pro, serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 0.33em;
}

h3 {
  font-size: 1.5rem;
}

article {
  code,
  pre {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    color: #444;
    background-color: #f9f9f9;
  }

  a code {
    background-color: transparent;
  }

  blockquote {
    color: #444;
    border-left: 0.25rem solid #ddd;
    padding: 0.5rem;

    p {
      margin-block-end: 0;
    }
  }

  h2:first-child {
    margin-top: 0;
  }

  .body {
    p:first-child {
      margin-top: 0;
    }

    pre {
      width: 110%;
      padding: 0.5rem;
      margin-left: -0.5rem;
      overflow-x: auto;
    }
  }
}

@media all and (max-width: 959px) {
  article {
    .body {
      pre {
        width: 100%;
      }
    }
  }
}
